In [4]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv('data/train_transaction.csv')

In [7]:
df.sample(10)

,TransactionID,isFraud,TransactionDT,TransactionAmt,ProductCD,card1,card2,card3,card4,card5,...,V330,V331,V332,V333,V334,V335,V336,V337,V338,V339
146487,3133487,0,3012746,34.990,W,17131,111.0,150.0,mastercard,224.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
175882,3162882,0,3803782,49.000,W,4908,555.0,150.0,mastercard,195.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
567973,3554973,0,15069348,82.950,W,4123,583.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
419419,3406419,0,10613788,47.950,W,1739,555.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
231341,3218341,0,5494687,57.950,W,7919,194.0,150.0,mastercard,202.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
389427,3376427,0,9761564,200.000,R,1724,583.0,150.0,visa,226.0,...,2.0,400.0,400.0,400.0,0.0,0.0,0.0,400.0,400.0,400.0
58439,3045439,0,1354944,50.000,H,17333,555.0,150.0,visa,226.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
318226,3305226,0,7925116,213.000,W,15497,490.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
392415,3379415,0,9844484,445.000,W,11942,570.0,150.0,visa,226.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
320128,3307128,0,7951706,41.388,C,15885,545.0,185.0,visa,138.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [18]:
#getting nan percentage for each column
percentNa = df.isna().sum()/ len(df)

In [26]:
#number of fileds that are more than half empty
(percentNa > .5).sum()

174

In [30]:
categoricalColumns =  df.columns[df.dtypes == object]
dfCategorical = df[categoricalColumns]

In [33]:
dfCategoricalDummied = pd.get_dummies(dfCategorical)

151