In [2]:
import pandas as pd
import numpy as np
import pickle

In [3]:
with open('data/cleaned_input.np', 'rb') as f:
    a1 = pickle.load(f)
with open('data/cleaned_input_transaction.np', 'rb') as f:
    a2 = pickle.load(f)

In [4]:
with open('data/cleaned_colunms', 'rb') as f:
    c1 = pickle.load(f)
with open('data/cleaned_colunms_transaction', 'rb') as f:
    c2 = pickle.load(f)

In [5]:
a1.shape

(590540, 271)

In [6]:
a2.shape

(144233, 100)

In [7]:
df1 = pd.DataFrame(a1, columns=c1)
df2 = pd.DataFrame(a2, columns=c2)

In [14]:
df1['TransactionID'] = df1.TransactionID.astype('int32')
df2['TransactionID'] = df2.TransactionID.astype('int32')

In [19]:
df1.index = df1.TransactionID

In [20]:
df2.index = df2.TransactionID

In [25]:
df = df1.join(df2, lsuffix='_caller', rsuffix='_other')

In [28]:
df['TransactionID_other']

TransactionID
2987000          NaN
2987001          NaN
2987002          NaN
2987003          NaN
2987004    2987004.0
2987005          NaN
2987006          NaN
2987007          NaN
2987008    2987008.0
2987009          NaN
2987010    2987010.0
2987011    2987011.0
2987012          NaN
2987013          NaN
2987014          NaN
2987015          NaN
2987016    2987016.0
2987017    2987017.0
2987018          NaN
2987019          NaN
2987020          NaN
2987021          NaN
2987022    2987022.0
2987023          NaN
2987024          NaN
2987025          NaN
2987026          NaN
2987027          NaN
2987028          NaN
2987029          NaN
             ...
3577510          NaN
3577511          NaN
3577512          NaN
3577513          NaN
3577514          NaN
3577515          NaN
3577516          NaN
3577517          NaN
3577518          NaN
3577519          NaN
3577520          NaN
3577521    3577521.0
3577522          NaN
3577523          NaN
3577524          NaN
3577525          NaN
3577526    3577526.0
3577527          NaN
3577528          NaN
3577529    3577529.0
3577530          NaN
3577531    3577531.0
3577532          NaN
3577533          NaN
3577534    3577534.0
3577535          NaN
3577536          NaN
3577537          NaN
3577538          NaN
3577539          NaN
Name: TransactionID_other, Length: 590540, dtype: float64

In [29]:
df['id_01']

TransactionID
2987000     NaN
2987001     NaN
2987002     NaN
2987003     NaN
2987004     0.0
2987005     NaN
2987006     NaN
2987007     NaN
2987008    -5.0
2987009     NaN
2987010    -5.0
2987011    -5.0
2987012     NaN
2987013     NaN
2987014     NaN
2987015     NaN
2987016     0.0
2987017    -5.0
2987018     NaN
2987019     NaN
2987020     NaN
2987021     NaN
2987022   -15.0
2987023     NaN
2987024     NaN
2987025     NaN
2987026     NaN
2987027     NaN
2987028     NaN
2987029     NaN
           ...
3577510     NaN
3577511     NaN
3577512     NaN
3577513     NaN
3577514     NaN
3577515     NaN
3577516     NaN
3577517     NaN
3577518     NaN
3577519     NaN
3577520     NaN
3577521   -15.0
3577522     NaN
3577523     NaN
3577524     NaN
3577525     NaN
3577526    -5.0
3577527     NaN
3577528     NaN
3577529   -20.0
3577530     NaN
3577531    -5.0
3577532     NaN
3577533     NaN
3577534   -45.0
3577535     NaN
3577536     NaN
3577537     NaN
3577538     NaN
3577539     NaN
Name: id_01, Length: 590540, dtype: float32

In [30]:
df2['id_02']

TransactionID
2987004     70787.000000
2987008     98945.000000
2987010    191631.000000
2987011    221832.000000
2987016      7460.000000
2987017     61141.000000
2987022    174716.578125
2987038     31964.000000
2987040    116098.000000
2987048    257037.000000
2987049    287959.000000
2987057     88525.000000
2987066     54927.000000
2987069     69542.000000
2987070    132356.000000
2987072    275611.000000
2987074    419136.000000
2987084    436352.000000
2987093     34810.000000
2987099    129080.000000
2987100    264818.000000
2987101     49557.000000
2987104     30696.000000
2987105    194580.000000
2987108    174716.578125
2987111    252899.000000
2987114    190935.000000
2987119     23923.000000
2987121     18305.000000
2987125     32876.000000
               ...
3577354    229668.000000
3577364    183132.000000
3577365    112037.000000
3577368    214747.000000
3577384     50886.000000
3577397    313942.000000
3577410    211823.000000
3577418    118160.000000
3577437     72127.000000
3577440     76483.000000
3577442     89189.000000
3577445    107251.000000
3577447     43053.000000
3577451    130543.000000
3577465    111397.000000
3577469     62155.000000
3577472    345613.000000
3577476     81665.000000
3577478    109718.000000
3577486    599833.000000
3577495     56061.000000
3577499     89753.000000
3577501     59763.000000
3577506     82599.000000
3577509    253305.000000
3577521    145955.000000
3577526    172059.000000
3577529    632381.000000
3577531     55528.000000
3577534    339406.000000
Name: id_02, Length: 144233, dtype: float32